<h1>New List</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.submit "Create list", class: "btn btn-primary" %>
<% end %>
<hr>
<%= link_to "Back to lists", lists_path, class: 'btn btn-outline-primary' %>
